#results {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: calc(5px + 1vmin);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-collapse: collapse;
    width: 70%;
    padding-top: 12px;
}

#resultsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
    padding-top: 12px;
}

#results td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
}

#results tr:nth-child(even){background-color: #434350;}

#results tr:hover {background-color: rgb(53, 54, 56);}